<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlSpaceTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Formatting_CommentXmlSplitSummaryTagToMultipleLines"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlAlignParamTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_SkipUndoTransactionsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfFileTrailingNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveEndOfLineWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentXmlValueIndent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBetweenPropertiesMultiLineAccessors"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesMultiLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeCaseStatements"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankSpaceBeforeSelfClosingAngleBrackets"
                serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>